@charset "utf-8";

@import '../share_css/style.scss';

.breadcrumb-list-box {
  width: 100vw;
  background-color: $moreThinGray;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.breadcrumb-list {
  padding: 2.5rem 0;
  font-size: 1.2rem;
  line-height: 1.7;

  a {
    color: $navyBlue;

  }
}
