@charset 'utf-8';

@import '../share_css/style.scss';


.blog_main_container {
  width: 70%;
}

.blog_main_title {
  text-align: center;
  margin-top: 3rem;

  @include spc {
    margin-top: 6rem;
  }
}

.blog_main_article {
  display: block;
  padding-top: 3rem;

  @include ipad {
    display: flex;
    padding-top: vh(670, 30);
  }
}

.blog_main_article-img-box {

  position: relative;

  img {
    // width: 24rem;
    // height: 14.8rem;
  }
}

.blog_main_category {

  position: absolute;
  top: 0;
  left: 0;

  line-height: 2.4;
  padding: .2rem 1.3rem;
  color: $white;
  background-color: $navyBlue;
  display: block;
}

.blog_main_article-text-box {
  margin-left: 0;

  @include ipad {
    margin-left: 2rem;
  }
}

.blog_main_article-date {
  line-height: 1.8;
  margin-top: 1rem;
  font-size: 1.6rem;
  color: $navyBlue;

  a {
    color: $navyBlue;
  }

  @include ipad {
    margin-top: 0;
  }
}

.blog_main_article-title {

  @include spc {
    font-size: 1.8rem;
  }
}

.blog_main_article-text {
  line-height: 1.5;
  font-size: 1.6rem;
  color: $navyBlue;
  // margin-top: 1rem;
}

.omit, .more {
  display: none;
}
