@charset 'utf-8';

@import '../share_css/style.scss';

.db {
  display: block;
}

.contact_main-container {
  margin: 5.8rem auto 0;

  @include ipad {
    width: 75%;
  }
}

.contact_form {
  margin-top: 6rem;
}

.notbr>br {
  display: none;
}

.error {
  font-size: 1.4rem !important;
  margin-top: 1rem;
}

.contact_form-privacy .error {
  margin-left: 1rem;
  margin-top: 0;
}


.companyname-label {
  margin-top: 4rem;
}

input::placeholder {
  color: #B4B4B4;
}

.companyname-area {
  width: calc(100% - 4.8rem);
  padding: 2.2rem;
  margin-top: 1.2rem;
  box-sizing: border-box;

  @include ipad {
    width: 100%;
  }
}

.yourname-label {
  margin-top: 2rem;
}

.yourname-area {
  width: calc(100% - 4.8rem);
  padding: 2.2rem;
  margin-top: 1.2rem;
  box-sizing: border-box;

  @include ipad {
    width: 100%;
  }
}

.mail-label {
  margin-top: 2rem;
}

.mail-area {
  width: calc(100% - 4.8rem);
  padding: 2.2rem;
  margin-top: 1.2rem;
  box-sizing: border-box;

  @include ipad {
    width: 100%;
  }
}

.num-label {
  margin-top: 2rem;
}

.num-area {
  width: calc(100% - 4.8rem);
  padding: 2.2rem;
  margin-top: 1.2rem;
  box-sizing: border-box;

  @include ipad {
    width: 100%;
  }
}

.contact_form-type-text {
  margin-top: 2rem;
}

input[type=radio] {
  width: 2rem;
  height: 2rem;
}

.contact_form-type-radio-btn-wrapper {
  margin-top: 1.2rem;
}

.mwform-radio-field:not(:nth-child(2)) {
  margin-top: 1.9rem !important;
}

.mwform-radio-field label {
  display: flex;
  align-items: center;
}

.contact_form-type-radio-btn {
  margin-right: 1.9rem !important;
}

.mwform-radio-field-text {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 200;
  color: $navyBlue;
}

.content-text {
  margin-top: 2.4rem;
}

textarea::placeholder {
  color: #B4B4B4;
}

.content-area {
  width: calc(100% - 4.6rem);
  padding: 2.2rem;
  margin-top: 1.2rem;
  box-sizing: border-box;

  @include ipad {
    width: 100%;
  }
}

.privacy-text {
  margin-top: 3.1rem;
  text-align: center;

  a {
    color: $yellowOrange;
    text-decoration: underline;
  }
}

.contact_form-privacy {
  text-align: center;
  margin-top: 3.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy-agree {
  display: inline;
}

.privacy-check {
  width: 2rem;
  height: 2rem;
  margin-right: 1.7rem !important;
}

.mwform-checkbox-field>label {
  display: flex;
  align-items: center;
}

.mwform-checkbox-field-text {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 200;
  color: $navyBlue;
}

.submit-btn {
  margin: 4.6rem auto 8.2rem;
  padding: 1.6rem 6.8rem;
  background-color: $navyBlue;
  color: $white;
  border-radius: 5px;
  border: none;
}
